.font-white {
    color: white !important;
}

/**
Feed
 */

.feed-wrapper .feed-options .dropdown-toggle::after {
    content: "" !important;
}

.feed-wrapper .feed-options .dropdown {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 3px;
}

.feed-wrapper .feed-options .dropdown:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.06);
}

/**
Feed Comment
 */

.feed-comment-wrapper .feed-comment-nama {
    font-size: 14px;
    font-weight: bold;
    margin: 0
}

.feed-comment-row .feed-comment-options {
    padding-left: 20px;
    display: none;
}

.feed-comment-row .feed-comment-options .dropdown {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
}

.feed-comment-row .feed-comment-options .dropdown-toggle {
    padding-top: 0;
}

.feed-comment-row .feed-comment-options .dropdown-toggle i {
    position: relative;
    margin-top: -10px;
}

.feed-comment-row .feed-comment-options .dropdown-toggle::after {
    content: "" !important;
}

.feed-comment-row:hover .feed-comment-options {
    display: block !important;

}

.feed-comment-row:hover .feed-comment-options .dropdown:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.06);

}

.feed-comment-wrapper .feed-comment-isi p {
    font-size: 14px;
    margin-bottom: 6px;
}

.feed-comment-wrapper .feed-comment-menu {
    margin-bottom: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.feed-comment-wrapper .feed-comment-menu span {
    font-size: 12px;
    color: #3F78E0;
    cursor: pointer;
    padding-right: 10px;
}

.feed-comment-wrapper .feed-comment-menu span:hover {
    font-size: 12px;
    color: #0f4cdb;
    cursor: pointer;
}

.feed-comment-wrapper .feed-comment-input {
    height: 60px;
    margin-bottom: 10px
}

.feed-comment-time {
    color: #666F80 !important;
}

.feed-comment-reply-button {
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn-forum-comment-first, .btn-forum-like {
    cursor: pointer;
    padding: 6px 0;
    display: block;
    color: #666F80;
}

.btn-forum-comment-first:hover, .btn-forum-like:hover {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 6px;
}

.btn-forum-feed-like.feed-liked .btn-forum-like i,
.btn-forum-feed-like.feed-liked .btn-forum-like {
    color: #3F78E0 !important;
    font-weight: bold !important;
}